<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ApplicationProperties</key>
	<dict>
		<key>ApplicationPath</key>
		<string>Applications/YellowCar.app</string>
		<key>CFBundleIdentifier</key>
		<string>passenger.yellowcar.com</string>
		<key>CFBundleShortVersionString</key>
		<string>1.3</string>
		<key>CFBundleVersion</key>
		<string>1.3</string>
		<key>SigningIdentity</key>
		<string>iPhone Developer: Ramil Abdul Rahman Saeed (TFWG2LB9YU)</string>
	</dict>
	<key>ArchiveVersion</key>
	<integer>2</integer>
	<key>CreationDate</key>
	<date>2017-03-26T13:55:52Z</date>
	<key>Name</key>
	<string>YellowCar</string>
	<key>SchemeName</key>
	<string>YellowCar</string>
</dict>
</plist>
