<ion-view view-title="{{language.Payment}}">
  <ion-content class="payment_method padding">
        <h3>{{language.Payment_type}}</h3>
            <div class="radio_style">
                <input type="radio" id="radio2" name="radio" checked>
                <label for="radio2"><span></span>{{language.Cash}} <img src="{{imgfolder}}cash.png"></label>
            </div>
<!--           
            <div class="radio_style">
                <input type="radio" id="radio1" name="radio"  disabled>
                <label for="radio1"><span></span>{{language.Visa}} <img src="{{imgfolder}}visa.png"></label>
            </div>
            -->
          <button class="button button-block main_btn bg_color">{{language.save}}</button>
  </ion-content>
</ion-view>
 
